#yuto-settings {
    h1 {
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 30px;
        font-weight: bold;
    }
    input,
    button,
    .components-card,
    .components-panel {
        border-radius: 4px;
    }
    .yuto {

        &__settings-tab-panel {
            display: flex;
            gap: 5%;

            .components-tab-panel {
                &__tabs {
                    flex-basis: 15%;
                }

                &__tab-content {
                    flex-basis: 80%;
                }

                &__tabs-item {
                    &.is-active {
                        background-color: #e6e6e6;
                    }
                }
            }
        }

        &__connection-info {
            &__status {
                padding: 5px 10px;
                border-radius: 15px;

                &.success {
                    background-color: #cff8dd;
                }
                &.error {
                    background-color: rgb(255, 125, 125);
                    color: #fff;
                }
            }
        }
    }

}